<div id="<%= dom_id pokemon %>">
  <p>
    <strong>Name:</strong>
    <%= pokemon.name %>
  </p>

  <p>
    <strong>Type 1:</strong>
    <%= pokemon.type_1 %>
  </p>

  <p>
    <strong>Type 2:</strong>
    <%= pokemon.type_2 %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= pokemon.total %>
  </p>

  <p>
    <strong>Hp:</strong>
    <%= pokemon.hp %>
  </p>

  <p>
    <strong>Attack:</strong>
    <%= pokemon.attack %>
  </p>

  <p>
    <strong>Defense:</strong>
    <%= pokemon.defense %>
  </p>

  <p>
    <strong>Sp atk:</strong>
    <%= pokemon.sp_atk %>
  </p>

  <p>
    <strong>Speed:</strong>
    <%= pokemon.speed %>
  </p>

  <p>
    <strong>Generation:</strong>
    <%= pokemon.generation %>
  </p>

  <p>
    <strong>Legendary:</strong>
    <%= pokemon.legendary %>
  </p>

</div>
